---
import Post01 from '../../images/post-1.png'
import Post02 from '../../images/post-2.png'
import Post03 from '../../images/post-3.png'
import '../styles/ContenidoPg.css'
import '../styles/PublicacionesPg.css'
---

<section class="posts container">
    <h3>Publicaciones</h3>
    
    <div class="row">
        <div class="posts-blog col-xl-3 col-lg-3 col-md-6 col-sm-12 py-5">
            <div class="contenedor-imagen">
                <img src={Post01.src} alt="" />
            </div>
            
            <h4>Titulo del Blogspost</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                ducimus enim quos, repellat autem quas non quo, fugit blanditiis
                dolore facilis tenetur natus ex temporibus praesentium atque rem
                asperiores perspiciatis?
            </p>
            <a class="blogs-btn" href="/publicaciones">→</a>
        </div>
        <div class="posts-blog col-xl-3 col-lg-3 col-md-6 col-sm-12 py-5">
            <div class="contenedor-imagen">
                <img src={Post02.src} alt="" />
            </div>
            <h4>Titulo del Blogspost</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                ducimus enim quos, repellat autem quas non quo, fugit blanditiis
                dolore facilis tenetur natus ex temporibus praesentium atque rem
                asperiores perspiciatis?
            </p>
            <a class="blogs-btn" href="/publicaciones">→</a>
        </div>
        <div class="posts-blog col-xl-3 col-lg-3 col-md-6 col-sm-12 py-5">
            <div class="contenedor-imagen">
                <img src={Post03.src} alt="" />
            </div>
            <h4>Titulo del Blogspost</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                ducimus enim quos, repellat autem quas non quo, fugit blanditiis
                dolore facilis tenetur natus ex temporibus praesentium atque rem
                asperiores perspiciatis?
            </p>
            <a class="blogs-btn" href="/publicaciones">→</a>
        </div>
        <div class="posts-blog col-xl-3 col-lg-3 col-md-6 col-sm-12 py-5">
            <div class="contenedor-imagen">
                <img src={Post01.src} alt="" />
            </div>
            <h4>Titulo del Blogspost</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                ducimus enim quos, repellat autem quas non quo, fugit blanditiis
                dolore facilis tenetur natus ex temporibus praesentium atque rem
                asperiores perspiciatis?
            </p>
            <a class="blogs-btn" href="/publicaciones">→</a>
        </div>
    </div>

    <div class="row">
        <div class="posts-blog col-xl-3 col-lg-3 col-md-6 col-sm-12 py-5">
            <div class="contenedor-imagen">
                <img src={Post01.src} alt="" />
            </div>
            
            <h4>Titulo del Blogspost</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                ducimus enim quos, repellat autem quas non quo, fugit blanditiis
                dolore facilis tenetur natus ex temporibus praesentium atque rem
                asperiores perspiciatis?
            </p>
            <a class="blogs-btn" href="/publicaciones">→</a>
        </div>
        <div class="posts-blog col-xl-3 col-lg-3 col-md-6 col-sm-12 py-5">
            <div class="contenedor-imagen">
                <img src={Post02.src} alt="" />
            </div>
            <h4>Titulo del Blogspost</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                ducimus enim quos, repellat autem quas non quo, fugit blanditiis
                dolore facilis tenetur natus ex temporibus praesentium atque rem
                asperiores perspiciatis?
            </p>
            <a class="blogs-btn" href="/publicaciones">→</a>
        </div>
        <div class="posts-blog col-xl-3 col-lg-3 col-md-6 col-sm-12 py-5">
            <div class="contenedor-imagen">
                <img src={Post03.src} alt="" />
            </div>
            <h4>Titulo del Blogspost</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                ducimus enim quos, repellat autem quas non quo, fugit blanditiis
                dolore facilis tenetur natus ex temporibus praesentium atque rem
                asperiores perspiciatis?
            </p>
            <a class="blogs-btn" href="/publicaciones">→</a>
        </div>
        <div class="posts-blog col-xl-3 col-lg-3 col-md-6 col-sm-12 py-5">
            <div class="contenedor-imagen">
                <img src={Post01.src} alt="" />
            </div>
            <h4>Titulo del Blogspost</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                ducimus enim quos, repellat autem quas non quo, fugit blanditiis
                dolore facilis tenetur natus ex temporibus praesentium atque rem
                asperiores perspiciatis?
            </p>
            <a class="blogs-btn" href="/publicaciones">→</a>
        </div>
    </div>

    <div class="row">
        <div class="posts-blog col-xl-3 col-lg-3 col-md-6 col-sm-12 py-5">
            <div class="contenedor-imagen">
                <img src={Post01.src} alt="" />
            </div>
            
            <h4>Titulo del Blogspost</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                ducimus enim quos, repellat autem quas non quo, fugit blanditiis
                dolore facilis tenetur natus ex temporibus praesentium atque rem
                asperiores perspiciatis?
            </p>
            <a class="blogs-btn" href="/publicaciones">→</a>
        </div>
        <div class="posts-blog col-xl-3 col-lg-3 col-md-6 col-sm-12 py-5">
            <div class="contenedor-imagen">
                <img src={Post02.src} alt="" />
            </div>
            <h4>Titulo del Blogspost</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                ducimus enim quos, repellat autem quas non quo, fugit blanditiis
                dolore facilis tenetur natus ex temporibus praesentium atque rem
                asperiores perspiciatis?
            </p>
            <a class="blogs-btn" href="/publicaciones">→</a>
        </div>
        <div class="posts-blog col-xl-3 col-lg-3 col-md-6 col-sm-12 py-5">
            <div class="contenedor-imagen">
                <img src={Post03.src} alt="" />
            </div>
            <h4>Titulo del Blogspost</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                ducimus enim quos, repellat autem quas non quo, fugit blanditiis
                dolore facilis tenetur natus ex temporibus praesentium atque rem
                asperiores perspiciatis?
            </p>
            <a class="blogs-btn" href="/publicaciones">→</a>
        </div>
        <div class="posts-blog col-xl-3 col-lg-3 col-md-6 col-sm-12 py-5">
            <div class="contenedor-imagen">
                <img src={Post01.src} alt="" />
            </div>
            <h4>Titulo del Blogspost</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                ducimus enim quos, repellat autem quas non quo, fugit blanditiis
                dolore facilis tenetur natus ex temporibus praesentium atque rem
                asperiores perspiciatis?
            </p>
            <a class="blogs-btn" href="/publicaciones">→</a>
        </div>
    </div>

    <div class="container py-5">
        
    </div>
    
</section>