---
import Facebook from "../../images/facebook.png";
import Youtube from "../../images/youtube.png";
import Twitter from "../../images/twitter.png";
import Instagram from "../../images/instagram.png";
import Github from "../../images/github.png";

import "../styles/Redes.css";
---

<div class="social">
    <div class="social-icons">
        <a href=""><img src={Facebook.src} alt="Facebook" /></a>
        <a href=""><img src={Youtube.src} alt="Youtube" /></a>
        <a href=""><img src={Twitter.src} alt="Twitter" /></a>
        <a href=""><img src={Instagram.src} alt="Instagram" /></a>
        <a href=""><img src={Github.src} alt="Github" /></a>
    </div>
</div>
